body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 40%;
  padding-top: 0em; 
  padding-left: 0em;
  /* background-color: lightblue; */
}

#info {
  margin: 2px, 0, 0, 2px;
  background-color: lightgray;
}

.quakeContainer {
  width: 40%;
  padding-top: 2em; 
  padding-right: 2em;
  /* background-color: pink; */
}
